@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
}
header {
  margin: 0 auto;
  width: 431px;
}
h1 {
  background: url("assets/img/img.png") 0% 340px;
  padding: 1.2rem 0;
  margin: 0;
}
.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #5EE270;
}
.con-text{
  background-color: white;
  font-family: system-ui;
  text-align: left;
  padding: 0 30px;
}

.h1text{
  font-size: 30px;
  font-weight: bold;
}

.h2text{
  font-size: 28px;
  font-weight: bold;
}

.h3text{
  font-size: 26px;
  font-weight: bold;
}

.h4text{
  font-size: 24px;
  font-weight: bold;
}

.h5text{
  font-size: 22px;
  font-weight: bold;
}

.h6text{
  font-size: 20px;
  font-weight: bold;
}

.pratext{
  font-size: 16px;
}